/* latin */
@font-face {
font-family: h;
font-style: normal;
font-weight: 400;
font-display: block;
src: url("~@/file/font/css/woff2/-W_gXIrsVjjeyEnPC45qD2NoFPtBE0xCh2AOrR8P-8B_dw.woff2") format('woff2');
unicode-range: U+0000-00FF;
}
